<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/all.min.css">
    <link rel="stylesheet" href="/stylesheets/templatemo-style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
       
</head>

<body>
    <!-- Page Loader -->


    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">

            <img class="logoimg" src="/images/logo1.png"></img>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link nav-link-1" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-2" href="/hotels">Hotels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-3 active" href="/adventures">Adventures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-4" href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <form name="adventureform" method='post' action="/bookadventure/<%= Adventures._id %>">

        <div class="container-fluid tm-container-content tm-mt-60">
            <div class="row mb-4">
                <h2 class="col-12 tm-text-primary" name="name"><%= Adventures.name %></h2>
               

            </div>
            
            
            <div class="row tm-mb-90">

                <div class="col-xl-4 col-lg-7 col-md-6 col-sm-12">
                    <img class="sideimg" src="/images/adventures/<%= Adventures.filename %>"></img>
                </div>
                <div class="col-xl-8 col-lg-5 col-md-6 col-sm-12">
                    <div class="tm-bg-gray tm-video-details">
                        

                        <div class="mb-4 d-flex flex-wrap">
                            <div class="mr-4 mb-2">

                            </div>
                            <div class="mr-4 mb-2">
                                <img class="icons" src="/images/icons/navigation-icon.png"></img>
                                <span class="tm-text-black" type="submit" name="address"><b><%= Adventures.address %></b>
                                </span>
                                
                                <br><br>
                                <p style="text-align:justify; color:black"><%= Adventures.description %></p>

                        <div class="col-sm-12">
                            <label for="dateofbirth">Arrival date</label>
                            <input type="date" name="arrivalDate" id="dateofbirth" required>

                        </div>
                        <br>
                        <span class="tm-text-black"><b>Select your Package:</b> </span>
                        <br>
                      
                        <table>
                            <thead>
                                <tr>
                                    <th scope="col" style="width:60%">No of people</th>
                                    <th scope="col">Price</th>
                                    


                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr>
                                   
                                    

                                    <td data-label="No of people">
                                        <select name="numberofpeople" id="noofpeople" class="grid-10" onChange="calculatefinalPrice()">
                                            <% for(var i=0; i<= 10; i++) { %>
                                            <option  value="<%= i %>" selected><%= i %></option>
                                            <% } %>
                                     </select>
                                    </td>
                                   

                                        <td data-label="Room Type">
                                        
                                         
                                                <text id="finalprice"></text>
                                               <script> var x="<%= Adventures.price %>" </script>
    
                                        </td>
                                   
                      
                                </tr>
                            </tbody>
                        </table>
                        <br>

                        

                     
                       
                          
                       
                        <div class="text-center mb-5">
                        <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal" >Proceed</button>
                    </div>

                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Your details</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                       
                                        <div class="form-group">
                                            <label for="recipient-name"  class="col-form-label" >Name:</label>
                                            <input type="text" class="form-control" name="username" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="recipient-name"   class="col-form-label" >Contact no:</label>
                                            <input type="text" name="usercontact" class="form-control" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label"  required>Email:</label>
                                            <input type="text" class="form-control" name="useremail" required>
                                        </div>
                                        
                                       
                                    </div>
                                    <div class="modal-footer">
                                        <h6>An email will be sent to you on confirmation. You may also receive call from the Hotel shortly.</h6>
                                        <input type="submit" value="Confirm" class="btn btn-primary"></input>
                                    </div>
                                    </div>
                                </div>
                                </div>
                        
                        
                            </div>
                            
                        </div>
                        
                          
                    </div>
                </div>
            </div>
        </div>
    </form>
    
  

    <script>
                                                 

        function calculatefinalPrice(adventureform){
           
        //    Get selected data  
        
         


           var y = document.getElementById("noofpeople");
           var z = y.options[y.selectedIndex].value;
           
           // var elt = document.getElementById("networkItem");
           // var network = elt.options[elt.selectedIndex].value;
           
           //convert data to integers
          x = parseInt(x);
           z = parseInt(z);
           
           
           //calculate total value  
          var total = x*z
           
        //    print value to  PicExtPrice 
           document.getElementById("finalprice").innerHTML=total;

           }
    </script>
</body>


</html>